.ava-rating {
	border: none;
	overflow: hidden;
	
	.ava-rating-stars{
		display: inline-block;
	}
	
	.ava-rating-stars__fields{
		float: left;
	}
	
	input { display: none; }
	
	fieldset, label {
		margin: 0;
		padding: 0;
		border: none;
	}
	
	.ava-rating-star__icon {
		font-size: 1.25em;
		display: inline-block;
	}
	
	.ava-rating-star__label {
		color: #dddddd;
		float: right;
		
		&:last-of-type{
			.ava-rating-star__icon {
				margin-left: 0!important;
			}
		}
	}
	
	input.is-checked ~ label,/* show gold star when clicked */
	&:not(.is-checked) label:hover,/* hover current star */
	&:not(.is-checked) label:hover ~ label{/* hover previous stars in list */
		color: #FFD700;
	}
	
	input.is-checked + label:hover, /* hover current star when changing ava-rating */
	input.is-checked ~ label:hover,
	label:hover ~ input.is-checked ~ label, /* lighten current selection */
	input.is-checked ~ label:hover ~ label { color: #FFED85;  }
}
